body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
